<!-- 


<br><br>
<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Tambah Karyawan</button>
<input type="text" class="form-control search-field" placeholder=" Search" [(ngModel)]=" selectEmployee" >
<ng-template #mymodal let-modal class="modal-dialog"> 
  <div class="modal-header"> Form Karyawan
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <app-addemployee></app-addemployee>
  </div>
</ng-template>
 
<div *ngIf="employees" class="card">
  <div class="card-header">
    <h3 class="card-title text-center">Data Karyawan</h3>
    
    
    
  </div>  
  <div class="card-body">
    <div class="table-responsive">
      <table class="table  table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Nama</th>
            <th>Email</th>
            <th>Nomor Hp</th>
            <th>Status</th>
            <th>Menu</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor =" let employee of employees; let i=index">
            <td>{{employee.namaLengkap}}</td>
            <td>{{employee.emailemp}}</td>
            <td>{{employee.noHP}}</td>
            <td>{{employee.statusKerja}} </td>  
            <td>
              <button 
              type="submit" 
              class="btn btn-primary" 
              (click)="editSelectedEmployee(employee.employeeId,mymodaledit)" 
              style="margin:5px">Edit</button> 
              <button 
              type="submit" 
              class="btn btn-secondary" 
              (click)="viewSelectedEmployee(employee.employeeId,mymodalview)" 
              style="margin:5px">View</button> 
              
           
              <ng-template #mymodaledit let-modal>
                <div class="modal-header"> Edit Data Karyawan
                  <button type="button" class="close" aria-label="Close" (click)="modal.editSelectedEmployee">
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                     <span aria-hidden="true">×</span>
                    </button>
                  </button>
                </div>
                <div class="modal-body">

                  <div class="container" style="max-width: 800px;">
                    <form [formGroup]="editEmployee" (ngSubmit)="updateEmployeeFormSubmit(employee.employeeId)">
                                   
                <div class="form-group">
                        <label for="namaLengkap">Nama Lengkap:</label>
                        <input
                        formControlName="namaLengkap"
                        id="namaLengkap"
                        type="text"
                        class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="namaPanggilan">Nama Panggilan:</label>
                    <input
                    formControlName="namaPanggilan"
                    id="namaPanggilan"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label> Gender:</label>
                    <div class formControlName="gender">
                        <label class="radio-inline"><input formControlName="gender" type="radio" value="Laki-laki">
                        
                        Laki-Laki
                        </label><br>
                        <label class="radio-inline"><input formControlName="gender" type="radio" value="Perempuan">
                            Perempuan
                        </label>
                    </div>
                </div>
                                
                <div class="form-group">
                    <label for="emailemp">Email:</label>
                    <input
                    formControlName="emailemp"
                    id="emailemp"
                    type="email"
                    class="form-control">

                </div>
                                
                <div class="form-group">
                    <label for="tanggalLahir">Tanggal Lahir:</label>
                    <input
                    formControlName="tanggalLahir"
                    id="tanggalLahir"
                    type="date"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="kotaKelahiran">Kota Kelahiran:</label>
                    <input
                    formControlName="kotaKelahiran"
                    id="kotaKelahiran"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="agama">Agama:</label>
                    
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="agama">
                        <option>Konghucu</option>
                        <option>Buddha</option>
                        <option>Kristen</option>
                        <option>Katolik</option>
                        <option>Hindu</option>
                        <option>Islam</option>
                      </select>
                    </div>
                
                <div class="form-group">
                    <label for="noKtp">Nomor KTP:</label>
                    <input
                    formControlName="noKtp"
                    id="noKtp"
                    type="tel"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="uploadKtp">Upload KTP:</label>
                    <input
                    formControlName="uploadKtp"
                    id="uploadKtp"
                    type="file"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="alamat">Alamat:</label>
                    <input
                    formControlName="alamat"
                    id="alamat"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="tinggi">Tinggi:</label>
                    <input
                    formControlName="tinggi"
                    id="tinggi"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="beratBadan">Berat Badan:</label>
                    <input
                    formControlName="beratBadan"
                    id="beratBadan"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="golonganDarah">Golongan Darah:</label>
                    <input
                    formControlName="golonganDarah"
                    id="golonganDarah"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="kacamata">Berkacamata/tidak:</label>
                    <input
                    formControlName="kacamata"
                    id="kacamata"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="statusPernikahan">Status Pernikahan:</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="statusPernikahan">
                        <option>Belum Menikah</option>
                        <option>Menikah</option>
                        <option>Single Parent</option>
                        <option>Lainnya</option>
                        </select>
                </div>
                
                <div class="form-group">
                    <label for="jumlahAnak">Jumlah Anak:</label>
                    <input
                    formControlName="jumlahAnak"
                    id="jumlahAnak"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="noHP">Nomor Handphone/WA:</label>
                    <input
                    formControlName="noHP"
                    id="noHP"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="jabatan">Jabatan:</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="jabatan">
                        <option>Head</option>
                        <option>Supervisor</option>
                        <option>Koordinator</option>
                        <option>Staff</option>
                        <option>MSO</option>
                        <option>CSO</option>
                        <option>Driver</option>
                        <option>Kurir</option>
                        <option>OB</option>
                        </select>
                </div>
                
                <div class="form-group">
                    <label for="divisi">Divisi:</label>
                    <input
                    formControlName="divisi"
                    id="divisi"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="akunInstagram">Akun Instagram:</label>
                    <input
                    formControlName="akunInstagram"
                    id="akunInstagram"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="noNpwp">Nomor NPWP:</label>
                    <input
                    formControlName="noNpwp"
                    id="noNpwp"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="uploadNpwp">Upload NPWP:</label>
                    <input
                    formControlName="uploadNpwp"
                    id="uploadNpwp"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="uploadImageSolo">Foto :</label>
                    <input
                    formControlName="uploadImageSolo"
                    id="uploadImageSolo"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="noRekBca">Nomor Rekening BCA:</label>
                    <input
                    formControlName="noRekBca"
                    id="noRekBca"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="nomorMember">Nomor Member: </label>
                    <input
                    formControlName="nomorMember"
                    id="nomorMember"
                    type="text"
                    class="form-control">
                </div>
                
                
                <div class="form-group">
                    <label for="pendidikanTerakhir">Pendidikan Terakhir:</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="pendidikanTerakhir">
                        <option>SD</option>
                        <option>SMP / Sederajat</option>
                        <option>SMA / Sederajat</option>
                        <option>D1 - D3</option>
                        <option>S1</option>
                        <option>S2 - S3</option>
                        <option>Lainnya</option>
                        </select>
                </div>
                
                <div class="form-group">
                    <label for="namaPendidikan">Nama Universitas/Sekolah :</label>
                    <input
                    formControlName="namaPendidikan"
                    id="namaPendidikan"
                    type="text"
                    class="form-control">
                </div>
                
                
                
                <div class="form-group">
                    <label for="tahunKelulusan">Tahun Kelulusan:</label>
                    <input
                    formControlName="tahunKelulusan"
                    id="tahunKelulusan"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="namaAyah">Nama Ayah:</label>
                    <input
                    formControlName="namaAyah"
                    id="namaAyah"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="pekerjaanAyah">Pekerjaan Ayah:</label>
                    <input
                    formControlName="pekerjaanAyah"
                    id="pekerjaanAyah"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="namaIbu">Nama Ibu:</label>
                    <input
                    formControlName="namaIbu"
                    id="namaIbu"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="pekerjaanIbu">Pekerjaan Ibu:</label>
                    <input
                    formControlName="pekerjaanIbu"
                    id="pekerjaanIbu"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="anakKeberapa">Anak Ke Berapa:</label>
                    <input
                    formControlName="anakKeberapa"
                    id="anakKeberapa"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="jumlahSaudara">Jumlah Saudara:</label>
                    <input
                    formControlName="jumlahSaudara"
                    id="jumlahSaudara"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="namaKontakDarurat">Nama Kontak Darurat:</label>
                    <input
                    formControlName="namaKontakDarurat"
                    id="namaKontakDarurat"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="hubunganKontakDarurat">Hubungan Kontak Darurat:</label>
                    <input
                    formControlName="hubunganKontakDarurat"
                    id="hubunganKontakDarurat"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="noHpKontakDarurat">Nomor Kontak Darurat yang dapat dihubungi:</label>
                    <br>
                    <input
                    formControlName="noHpKontakDarurat"
                    id="noHpKontakDarurat"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="kantorCabang">Kantor Cabang:</label>
                    <select class="form-control" id="kantorCabang" formControlName="kantorCabang">
                        <option>MR GI</option>
                        <option>MR BGM</option>
                        <option>MR PIK</option>
                        <option>MR ELANG LAUT</option>
                        <option>MR PLUIT</option>
                        <option>MR PURI</option>
                        <option>MR CITRA</option>
                        <option>MR GLC</option>
                        <option>MR ROXY</option>
                        <option>MR Kuningan</option>
                        <option>MR Bandung</option>
                        <option>Lainnya</option>
                        </select>
                </div>
                
                <div class="form-group">
                    <label for="statusKerja">Status Kerja:</label>
                    <input
                    formControlName="statusKerja"
                    id="statusKerja"
                    type="text"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="hireDate">Tanggal Diterima :</label>
                    <input
                    formControlName="hireDate"
                    id="hireDate"
                    type="date"
                    class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="resignDate">Tanggal Mengundurkan Diri :</label>
                    <input
                    formControlName="resignDate"
                    id="resignDate"
                    type="date"
                    class="form-control">
                    
                </div>
                        <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;                      
                    </form>
                </div>
                  

                </div>
              </ng-template>
                  






              <ng-template #mymodalview let-modal>
                <div class="modal-header"> Data Karyawan
                  <button type="button" class="close" aria-label="Close" (click)="modal.viewSelectedEmployee('Cross click')">
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">×</span>
                  </button>
                </button>
                </div>
                <div class="modal-body">

                  <div>
                    Nama Lengkap : {{employee.namaLengkap}}
                  </div>
                  <br>
                  <div>
                    Nama Panggilan : {{employee.namaPanggilan}}
                  </div>
                  <br>
                  <div>
                    Email  : {{employee.emailemp}}
                  </div>
                  <br>
                  <div>
                    Gender : {{employee.gender}}
                  </div>
                  <br>
                  <div>
                    Tanggal Lahir: {{employee.tanggalLahir}}
                  </div>
                  <br>
                  <div>
                    Kota Kelahiran: {{employee.kotaKelahiran}}
                  </div>
                  <br>
                  <div>
                    Agama : {{employee.agama}}
                  </div>
                  <br>
                  <div>
                    Nomor KTP : {{employee.noKtp}}
                  </div>
                  <br>
                  <div>
                    Foto KTP : {{employee.uploadKtp}}
                  </div>
                  <br>
                  <div>
                    Nomor Hp/Wa : {{employee.noHP}}
                  </div>
                  <br>
                  <div>
                    Alamat : {{employee.alamat}}
                  </div>
                  <br>
                  <div>
                    Tinggi : {{employee.tinggi}} Cm
                  </div>
                  <br>
                  <div>
                    Berat Badan : {{employee.beratBadan}} Kg
                  </div>
                  <br>
                  <div>
                    Golongan Darah: {{employee.golonganDarah}}
                  </div>
                  <br>
                  <div>
                    Kacamata (Ya/Tidak) : {{employee.kacamata}}
                  </div>
                  <br>
                  <div>
                    Status Pernikahan  : {{employee.statusPernikahan}}
                  </div>
                  <br>
                  <div>
                    Jumlah Anak  : {{employee.jumlahAnak}}
                  </div>
                  <br>
                  <div>
                    Jabatan : {{employee.jabatan}}
                  </div>
                  <br>
                  <div>
                    Akun Instagram : {{employee.akunInstagram}}
                  </div>
                  <br>
                  <div>
                    Nomor NPWP : {{employee.noNpwp}}
                  </div>
                  <br>
                  <div>
                    Foto NPWP : {{employee.uploadNpwp}}
                  </div>
                  <br>
                  <div>
                    Foto Diri : {{employee.uploadImageSolo}}
                  </div>
                  <br>
                  <div>
                    Nomor Member : {{employee.nomorMember}}
                  </div>
                  <br>
                  <div>
                    Nomor Rek BCA : {{employee.noRekBca}}
                  </div>
                  <br>
                  <div>
                    Pendidikan Terakhir : {{employee.pendidikanTerakhir}}
                  </div>
                  <br>
                  <div>
                    Nama Universitas/Sekolah : {{employee.namaPendidikan}}
                  </div>
                  <br>
                  <div>
                    Tahun Kelulusan : {{employee.tahunKelulusan}}
                  </div>
                  <br>
                  <div>
                    Divisi : {{employee.divisi}}
                  </div>
                  <br>
                  <div>
                    Nama Ayah : {{employee.namaAyah}}
                  </div>
                  <br>
                  <div>
                    Pekerjaan Ayah : {{employee.pekerjaanAyah}}
                  </div>
                  <br>
                  <div>
                    Nama Ibu : {{employee.namaIbu}}
                  </div>
                  <br>
                  <div>
                    Pekerjaan Ibu : {{employee.pekerjaanIbu}}
                  </div>
                  <br>
                  <div>
                    Jumlah Saudara : {{employee.jumlahSaudara}}
                  </div>
                  <br>
                  <div>
                    Nama Kontak Darurat Yang Dapat Dihubungi: {{employee.namaKontakDarurat}}
                  </div>
                  <br>
                  <div>
                    Hubungan dengan Kontak Darurat : {{employee.hubunganKontakDarurat}}
                  </div>
                  <br>
                  <div>
                    Nomor HP Kontak Darurat : {{employee.noHpKontakDarurat}}
                  </div>
                  <br>
                  <div>
                    Kantor Cabang : {{employee.kantorCabang}}
                  </div>
                  <br>
                  <div>
                    Tanggal Diterima : {{employee.hireDate}}
                  </div>
                  <br>
                  <div>
                    Tanggal Mengundurkan Diri : {{employee.resignDate}}
                  </div>
                  <br>
                </div>
              </ng-template>
              
              
              
              
              <button 
              type="submit" 
              class="btn btn-danger" 
              (click)="deleteSelectedEmployee(employee.employeeId)" 
              style="margin:5px">Delete</button> 
            </td>
          </tr>  
        </tbody>
      </table>
    </div>
  </div>
</div>



 -->
